---
layout: default
---

<style type="text/css">
  .line {
    width: 100px;
    border-right: 4px solid #eee;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

  .animation {
    animation: grow 2s steps(3) 1s normal both,
      blink 0.7s steps(3) infinite normal;
  }

  @keyframes grow {
    from {
      width: 0;
    }

    to {
      width: 100px;
    }
  }

  @keyframes blink {
    from {
      border-right-color: #eee;
    }

    to {
      border-right-color: #222;
    }
  }
</style>
<header>
  <h1 class="line animation">{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}